<h3>Image generation</h3>
<p>
  This component allows you to create an original image given a text prompt. Generated images can have a size of 256x256, 512x512, or 1024x1024 pixels. 
  Smaller sizes are faster to generate. You can request 1-10 images at a time using the n parameter.
</p>

<div class="form-group">
  <input type="file" class="file-input"
  class="btn sbmt-btn"
  (change)="onFileSelected($event)" #fileUpload>


<div class="file-upload">

  {{fileName || "No file uploaded yet."}}

   <button  color="primary" class="upload-btn"
     (click)="fileUpload.click()">
   </button>
</div>
</div>


{{ standartEnglishText?.message }}
