
<div class="row p-4 d-flex justify-content-between">
  <div class="left-box col fs-4">
    <svg
      width="27"
      height="30"
      viewBox="0 0 27 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M15 0L0 18H13.5L12 30L27 12H13.5L15 0Z" fill="#0A1E46" />
    </svg>
    <span class="ms-2"><strong>Grammar</strong> Corraction</span>
  </div>
  <div class="right-box col d-flex justify-content-end">
    <span
      >Created by
      <a
        href="https://www.rastmobile.com/en"
        title="rastmobile"
        target="_blank"
      >
        Rastmobıle</a
      ></span
    >
  </div>
</div>
<div class="row mt-5">
  <app-grammer-correction></app-grammer-correction>
</div>
<router-outlet></router-outlet>
