<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>


<!-- Toolbar -->
<div class="container toolbar mt-20" role="banner">
  <img
    width="40"
    alt="Rast Mobile Logo"
    src="https://pbs.twimg.com/profile_images/1412352615875289091/4kDHvUqe_400x400.jpg"
  />
  <span class="headerText"><strong>OPENAI</strong> API Examples </span>
  <div class="spacer"></div>

  <iframe
    src="https://ghbtns.com/github-btn.html?user=rastmob&repo=openai-grammar-correction&type=star&count=true&size=large"
    frameborder="0"
    scrolling="0"
    width="170"
    height="30"
    title="GitHub"
  ></iframe>

  <a
    class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text=OpenAI+Grammar+Corrector+test+your+English+now! https://openaigrammar.rastmobile.com @rastmobile&hashtags=openai,ai,nodejs,angular"
    data-size="large"
    target="_blank"
  >
  <i class="btn__icon">
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Twitter</title><path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/></svg>
  </i>
    Tweet</a
  >

  <a href="https://www.rastmobile.com/en" title="rastmobile" target="_blank"
    >Created by Rastmobile</a
  >
</div>

<div class="container mt-40">
  <hr />
  <app-grammer-correction></app-grammer-correction>
  <hr />
  <app-speech-to-text></app-speech-to-text>
  <!-- <div class="container">
    <app-usertab></app-usertab>
  </div> -->

  <router-outlet></router-outlet>
</div>
