.sbmt-btn{
    background-color: #F4F7FC; font-size: 14px; padding: 12px; color: #0A1E46; border-radius: 10px;
  }


  .standart-english textarea{
    background-color: #F4F7FC;
    border: 1px solid #f1f1f1;
  }

.wrong-text textarea{
  border-left: 1px solid #f1f1f1; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; border-right: 0px solid; border-radius: 0px;
}